<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-xl shadow-md">
    <h2 class="text-3xl font-bold text-center text-blue-600 mb-6">新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :ユーザー名, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autocomplete: "email", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <% if @minimum_password_length %>
        <em class="text-xs text-gray-500">(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" %>
      </div>

     <% if session[:chronotype].present? %>
        <%= hidden_field_tag :chronotype_id, session[:chronotype]["chronotype_id"] %>
     <% end %>



      <div class="actions">
        <%= f.submit "新規登録", class: "w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      </div>
    <% end %>

    <div class="text-center my-10">
      <%= button_to user_google_oauth2_omniauth_authorize_path,
                    method: :post,
                    data: { turbo: false },
                    class: 'flex items-center justify-center gap-2 px-4 py-2 w-full
                           max-w-xs mx-auto border border-gray-300 rounded-lg
                           shadow-sm hover:bg-gray-100 transition' do %>
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z" />
          <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z" />
          <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z" />
          <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z" />
        </svg>
        <span><%= t('devise.registrations.google_sign_up') %></span>

      <% end %>
    </div>

    <div class="mt-6 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
